.slide-show {
  display: flex;
  min-height: 270px;
  margin-top: 18px;
  border-radius: 16px;
  background: linear-gradient(to right, rgb(104, 40, 250), rgb(255, 186, 164));
  overflow: hidden;

  &__left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    width: 640px;
    max-width: 100%;
    padding: 0 36px 36px;

    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6;

    &__heading {
      margin-bottom: 8px;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.5;

      img {
        display: inline-block;
        width: 24px;
        margin-left: 4px;
      }
    }
    &__description {
      margin-bottom: 24px;
    }
    &__more {
      a {
        display: inline-block;
        min-width: 124px;
        padding: 4px 10px;
        border: 2px solid #fff;
        border-radius: 16px;

        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  &__right {
    flex-grow: 3;
    img {
      height: 270px;
    }
  }
}
