.profile {
  min-height: calc(100vh - 184px);

  &__banner {
    position: relative;
    width: 100%;
    padding-top: 28%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    background: top/cover no-repeat;
    background-image: url('https://fullstack.edu.vn/static/media/cover-profile.3fb9fed576da4b28386a.png');

    &__user {
      position: absolute;
      left: 50%;
      bottom: -122px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      display: flex;
      flex-direction: column;
      align-items: center;

      &__avatar {
        img {
          height: 128px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      &__name {
        margin: 6px auto 0 0;
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
      }
    }
    &__edit-bg {
      position: absolute;
      bottom: 15px;
      right: 8px;

      display: flex;
      align-items: center;
      height: auto;
      max-height: 40px;
      padding: 5px 8px;
      background-color: #fff;
      border-radius: 6px;

      font-size: 1.4rem;
      font-weight: 500;
      cursor: pointer;

      svg {
        width: 20px;
        margin: 0px;
        color: #4f4d4d;
        font-size: 2rem;
      }
    }
  }

  &__container {
    margin-top: 150px;
    padding: 0 24px;
    .box-wrapper {
      margin-bottom: 20px;
      padding: 18px 14px;
      border-radius: 8px;

      background-color: #fff;
      box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);

      word-break: break-word;
    }
    &__introduce {
      &__title {
        margin: 0 0 8px;
        font-size: 1.6rem;
        font-weight: 600;
      }
      &__participation {
        display: flex;
        align-items: flex-start;
        margin-top: 15px;

        font-size: 1.4rem;
        line-height: 1.8rem;

        svg {
          width: 20px;
          margin-top: 2px;
          margin-right: 8px;

          color: #808990;
          text-align: center;
        }
        .highlight {
          font-weight: bold;
        }
      }
    }
    &__activities {
      &__title {
        margin: 0 0 8px;
        font-size: 1.6rem;
        font-weight: 600;
      }
      &__contents {
        font-size: 1.3rem;
      }
    }
    &__course-participate {
      &__items {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 12px;
        border-bottom: 1px solid #d0d7de;

        &:last-child {
          border-bottom: none;
        }
        &__image {
          display: block;
          margin-bottom: 12px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
          }
        }
        &__course-name {
          margin-top: 0;
          margin-bottom: 0;

          font-size: 1.6rem;
          font-weight: 600;
        }
        &__course-description {
          display: -webkit-box;
          margin-top: 4px;

          font-size: 1.4rem;
          line-height: 2.2rem;

          word-wrap: break-word;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
          overflow: hidden;
        }
      }
    }
  }
}
