@import '/src/breakpoint.scss';

.home-page {
  padding: 0 16px;

  @include desktop {
    padding-left: 112px;
  }
  &__list {
    margin-top: 60px;
    padding: 0 0 36px;

    @include desktop {
      margin-top: 70px;
      padding: 0 40px 0 44px;
    }
  }
}
