.home-page {
  &__main {
    padding: 0 16px;
    &__wrapper {
      margin-top: 60px;
      padding: 0 0 36px;
    }
  }
  &__footer {
    background-color: #181821;
    color: #a9b3bb;
    overflow: hidden;
    padding: 48px 16px 40px;
  }
}
