@import '/src/breakpoint.scss';

.nav-bar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  padding: 0 16px;
  border-bottom: 1px solid #e8ebed;

  background-color: #fff;

  &__hamberger {
    color: #707070;
    font-size: 2rem;
  }
  &__search-area {
    display: none;
    width: 420px;
    height: 40px;
    padding: 0 16px 0 8px;
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    &:focus-within {
      border-color: #444;
    }
    @include tablet {
      display: block;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    color: #707070;
    font-size: 1.8rem;

    &:hover {
      cursor: pointer;
    }
    &__search {
      padding: 8px 12px;
      @include tablet {
        display: none;
      }
    }
    &__bell {
      padding: 8px 12px;
    }
    &__noti-popup {
      position: absolute;
      inset: 0 0 auto auto;

      width: 520px;
      max-width: 84vw;
      margin: 0;
      padding-left: 0;
      border-radius: 10px;
      box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);

      color: #1d2129;
      background: #fff;
      transform: translate(-16px, 60px);
      overflow: hidden;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        &__options {
          &__popup {
            position: absolute;
            inset: 0px 0px auto auto;

            min-width: 310px;
            padding: 8px;
            border-radius: 8px;
            box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);

            font-size: 1.4rem;
            background-color: #fff;
            transform: translate(-10px, 60px);
            cursor: pointer;

            &__wrapper {
              padding: 10px 8px;
              &:hover {
                background-color: rgba(22, 24, 35, 0.05);
              }
              svg {
                margin-right: 10px;
              }
            }
            &::after {
              content: '';
              position: absolute;
              right: 15px;
              top: -18px;

              border: 10px solid transparent;
              border-bottom: 10px solid #fff;
            }
          }
        }
      }
      &__wrapper {
        display: flex;
        align-items: center;
        margin: 0 8px;
        padding: 8px 36px 8px 12px;
        border-radius: 10px;

        &__image {
          img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        &__contents {
          flex-grow: 1;
          padding: 0 10px 0 16px;

          color: #333;
          font-size: 1.4rem;
          line-height: 18px;
          word-break: break-word;

          &__time {
            margin-top: 6px;
            color: #f05123;
            font-size: 1.3rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
