@import '/src/breakpoint.scss';

.side-bar {
  position: fixed;
  top: 74px;

  display: none;
  align-items: center;
  flex-direction: column;
  width: 96px;
  padding: 0 8px;

  background-color: #fff;

  @include desktop {
    display: flex;
  }
  .vertical-list:last-child {
    border-bottom: none;
  }
  &__create-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    margin: 8px 0 2px;
    border-radius: 50%;

    color: #fff;
    background-color: #1473e6;
    border-color: #1473e6;
    cursor: pointer;

    svg {
      font-size: 1.8rem;
    }
  }
}
