@import '/src/breakpoint.scss';

.horizontal-scroll-list {
  a {
    text-decoration: none;
    color: inherit;
  }
  &__heading {
    margin: 16px auto 16px 0;
    color: #242424;
    font-size: 2rem;
    font-weight: 900;

    &__icon {
      position: relative;
      top: -6px;
      right: -8px;
      padding: 3px 6px;
      border-radius: 4px;

      color: #fff;
      background-color: #1473e6;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &__contents {
    display: flex;
    padding-top: 3px;
    padding-bottom: 16px;

    overflow-x: auto;
    overflow-y: hidden;

    &__items {
      width: 60vw;
      margin-bottom: 0;
      flex-shrink: 0;

      @include tablet {
        width: 35vw;
      }
      @include desktop {
        // width equally divided among the elements (min:200px)
        flex-basis: 200px;
        flex-grow: 1;
      }

      &__image {
        a {
          position: relative;
          display: block;
          width: 100%;
          padding-top: 56.25%;
          border-radius: 16px;

          background-color: rgba(0, 0, 0, 0.1);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: cover;
          overflow: hidden;
        }
      }

      &__title {
        margin: 10px 0px;
        word-wrap: break-word;

        color: #292929;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.4;
        overflow: hidden;
      }

      &__price {
        &--old {
          margin-right: 8px;
          font-size: 1.4rem;
          text-decoration: line-through;
        }
        &--current {
          color: #f05123;
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
    }
    &__items + &__items {
      margin-left: 16px;
    }
  }
}
